.decorator {
  position: relative;
  align-self: center;
  flex-grow: 1;
  border-top: 1px dashed #444c66;
  margin: 0 1em;

  @mixin decorator_pesudo {
    content: '';
    position: absolute;
    top: -10px;
    width: 1em;
    height: 1em;
    background-size: 1em 1em;
    z-index: 1;
  }

  &::before {
    @include decorator_pesudo;
    left: -3px;
    background-image: url(/assets/images/circle_marker.png);
  }
  &::after {
    @include decorator_pesudo;
    right: -3px;
    background-image: url(/assets/images/circle_marker_end.png);
  }
}

.distance {
  min-width: 66px;
}

.travel__time {
  min-width: 75px
}

.frequency {
  min-width: 96px;
}