.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  .content {
    max-width: 380px;
    margin: 0 2rem;
    text-align: center;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .wrapper {
    min-height: 89vh;
  }
}