.calendar {
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .title {
    flex-grow: 1;
    color: #808080;
    font-size: x-large;
    font-weight: 700;
  }

  .actions {
    align-self: flex-end;
    display: flex;
    flex-direction: row;

    button {
      padding: .5rem 1rem;
    }
  }
}

.body {
  .days-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #808080;
    font-weight: 600;

    div {
      width: 14%;
      text-align: center;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cell {
      width: 14%;
      padding-top: 14%;
      position: relative;

      span {
        display: flex;
        align-items: center;
        margin: .5rem;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}

.daypass {
  color: #b8b8b8;
}

.today {
  border-radius: 999rem;
  color: #fff;
  background: #ff9574;
}

.future {
  color: #000000;
}

.selected {
  border-radius: 999rem;
  border: 2px solid #ff9574;
  background: #fff;
}
