.wrapper {
  margin: -2rem;
}

.calendar {
  .calendar__header {
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
    overflow-x: scroll;
    cursor: pointer;

    .day__span {
      width: 16%;
      padding: 1rem;
      border-radius: 1rem;
      text-align: center;

      span {
        color: #808080;
      }

      div {
        font-weight: 700;
        font-size: x-large;
      }
    }

    .day__span--active {
        background: wheat;
    }
  }

  .calendar__body {
    height: 100px;
    background: wheat;
  }
}
