.page__header {
    .actions {
        display: flex;
        justify-content: space-between;

        button {
            color: #2e8fff;
            border: 1px solid var(--grey);
        }
    }
}

.page__filter {
    user-select: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem 0;
    white-space: nowrap;
    overflow-x: scroll;
}