.page__header {
    margin-bottom: 2rem;
    .actions {
        display: flex;
        justify-content: space-between;

        button {
            color: #2e8fff;
            border: 1px solid var(--grey);
        }
    }
}

.page__filter {
    display: flex;
    border-bottom: 1px soild var(--grey);
}

.select {
    display: flex;
    align-items: center;
    padding: .25rem 1rem;
    border-radius: 5rem;
    color: #ffffff;
    background: #2e2f37;
    position: relative;
    font-weight: 600;
    
    // .select__decorator {
    //     display: flex;
    //     align-items: center;
    //     font-weight: 600;
    //     position: absolute;
    //     right: 0;
    // }
}