.endpoint-search-box {
  display: flex;
  align-items: center;
  position: relative;

  input {
    padding-right: 3.6rem;
  }

  .btn-cancel {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 1rem;
    border-radius: 1.5rem;
    background: wheat;
    position: absolute;
    right: 0;
    z-index: 999;
  }
}

.endpoint-result {
  .group-name {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: large;
    font-weight: 700;
    color: #808080;
  }

  .group-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--grey);
    border-bottom: none;
    user-select: none;
    cursor: pointer;

    &:active {
      background: var(--grey);
    }

    &:nth-child(2) {
      border-radius: 1rem 1rem 0 0;
    }

    &:last-child {
      border-bottom: 1px solid var(--grey);
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .decorator {
      display: flex;
      width: 1.6rem;
      height: 1.6rem;
    }

    .decorator--checked {
      background: wheat;
      border-radius: 5px;
    }

    .content {
      flex-grow: 1;
      margin-left: 1rem;
    }
  }
}
