.wiget {
  --w-font-1: 1.6rem;
  --w-font-2: 1.3rem;
  --w-font-3: 1.1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 160px;
  height: 160px;
  padding: 1.75rem;
  border: 1px solid var(--grey);
  border-radius: 2.25rem;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;

  .wiget__header {
    display: flex;

    .wiget__image {
      display: flex;
      width: 50%;
      min-height: 61.5px;
      padding: 1rem;
      border-radius: 0.75rem;
      background: rgb(252 243 228);
    }
  }

  .wiget__body {
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      font-size: var(--w-font-2);
      color: white;
    }

    div {
      font-size: var(--w-font-1);
      font-weight: 400;
      color: #fe3b5c;
    }
  }

  .wiget__footer {
    line-height: 1.5rem;
    font-size: var(--w-font-3);
    color: #808080;
  }
}
