.map-container {
  width: 100%;
  padding-bottom: 50%;
  position: relative;

  .map {
    background: wheat;
    position: absolute;
    z-index: 50 !important;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
  }
}

.marker {
  width: 20px;
  height: 20px;
  background-size: cover;
}
