.text {
  &-hero {
    font-weight: 700;
    font-size: 3rem;
  }

  &-heading {
    font-weight: 700;
    font-size: x-large;
  }

  &-title {
    font-weight: 700;
    font-size: large;
  }

  &-muted {
    color: #808080;
  }

  &-white {
    color: #ffffff;
  }
}

.m {
  &t-3 {
    margin-top: 1rem;
  }

  &t-4 {
    margin-top: 1.5rem;
  }

  &t-5 {
    margin-top: 3rem;
  }

  &b-3 {
    margin-bottom: 1rem;
  }

  &b-4 {
    margin-bottom: 1.5rem;
  }

  &b-5 {
    margin-bottom: 3rem;
  }

  &y-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.p {
  &-3 {
    padding: 1rem;
  }

  &x-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.rounded {
  &-1 {
    border-radius: 1rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &-col {
    flex-direction: column;
  }

  &-start {
    align-items: start;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.self-stretch {
  align-self: stretch;
}

.border {
  border: 1px solid #cacaca;
}

/*--------------component--------------*/
input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 1px solid var(--grey);
  border-radius: 1rem;
  padding: 1rem;
  min-height: 3.5rem;
  font-size: 1.6rem;
}

.distance {
  min-width: 66px;
}

.travel-time {
  min-width: 75px;
}

.frequency {
  min-width: 96px;
}

.container {
  margin: 0 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 60px;
  padding: 0 2rem 0 1.75rem;

  font-size: large;
  font-weight: 700;
  position: relative;

  .action {
    padding: 0 2rem;
    line-height: 1.5rem;
    color: #2e8fff;
    position: absolute;

    &-left {
      left: 0;
    }

    &-right {
      right: 0;
    }
  }
}

.decorator {
  position: relative;
  align-self: center;
  flex-grow: 1;
  border-top: 1px dashed #444c66;
  margin: 0 1em;

  @mixin decorator_pesudo {
    content: '';
    position: absolute;
    top: -10px;
    width: 1em;
    height: 1em;
    background-size: 1em 1em;
    z-index: 1;
  }

  &::before {
    @include decorator_pesudo;
    left: -3px;
    background-image: url(/assets/images/circle_marker.png);
  }
  &::after {
    @include decorator_pesudo;
    right: -3px;
    background-image: url(/assets/images/circle_marker_end.png);
  }
}
