@import 'normalize.css';
@import url('./spacing.scss');
@import url('./utilities.scss');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
:root {
  --hue: 174;
  --sat: 63%;
  --primary: rgba(254, 44, 85, 1);
  --grey: rgba(22, 24, 35, 0.12);
  --white: #fff;
  --silver: #f5f5f5;
  --button-height: 3rem;
  --mr-1: 'margin-right: 10px';

  --screen-width: 375px;
  --screen-border-width: 1px;
  --scrollbar-thumb-size: 0px;
  --background-color: #1c1c1e;
  --foreground-color: #2c2c2e;
  --border-color: #444447;
  --text-white: #ffffff;
  --text-danger: #ff453a;
  --scrollbar-thumb-color: #ffffff;
}

::-webkit-scrollbar {
  width: var(--scrollbar-thumb-size);
  height: var(--scrollbar-thumb-size);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 1rem;
}

::-webkit-scrollbar-corner {
  display: none;
}

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

div {
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1,h2,h3.h4.h5,h6 {
  margin: .5rem .5rem;
}

a[href] {
  display: flex;
  color: inherit;
  text-decoration: none;
}

input {
  flex-grow: 1;
  outline: none;
  border: 1px solid var(--grey);
  border-radius: 1rem;
  padding: 0 1rem;
  min-height: 3.5rem;
  font-size: 1.6rem;
}

button {
  border: none;
  outline: none;
  outline: 2px transparent;
  border-radius: .4rem;
  background: none;
  font-size: inherit;
  font-weight: 600;

  svg {
    display: block;
    margin: auto;
  }
}

hr {
  margin: 0;
  border-color: var(--grey);
}