.title {
  font-size: x-large;
  font-weight: 700;
}

.sub-title {
  font-size: large;
  font-weight: 700;
}

.text-muted {
  color: #808080;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  &--space-between {
    justify-content: space-between;
  }

  &--center {
    justify-content: center;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex-grow: 1;
}

.self-start {
  align-self: start;
}

.cursor-pointer {
  cursor: pointer;
}

.avatar {
  min-width: 48px;
  height: 48px;
  margin-left: 3rem;
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  background: wheat;
}

.btn-submit {
  width: 100%;
  font-weight: 700;
  padding: 2rem;
  line-height: 1rem;
  border-radius: 1.75rem;
  color: black;
  background: #f9cf23;
}
