.heading {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.title {
  font-size: x-large;
  font-weight: 700;
}

.sub-title {
  font-size: large;
  font-weight: 700;
}

.text-muted {
  color: #808080;
}

.text-right {
  text-align: right;
}

.btn {
  border: 1px solid var(--grey);
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  &--space-between {
    justify-content: space-between;
  }

  &--center {
    justify-content: center;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex-grow: 1;
}
.align-self--start {
  align-self: start;
}