.wrapper {
  color: #ffffff;
  background: #101010;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    border: 2px solid #212121;
    color: #ffffff;
    background: #171717;
  }
}

.social-login-button {
  flex-grow: 1;
  height: 5rem;
  border: 2px solid #212121;
  border-radius: 1rem;
  font-size: x-large;
  color: #ffffff;
  background: #171717;
  cursor: pointer;

  &:first-child {
    margin-right: 1rem;
  }

  &:last-child {
    margin-left: 1rem;
  }
}

.login-button {
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  color: #ffffff;
  background: rgb(182, 23, 223);
  background: linear-gradient(
    90deg,
    rgba(182, 23, 223, 1) 0%,
    rgba(206, 55, 175, 1) 58%,
    rgba(209, 59, 169, 1) 100%
  );
  cursor: pointer;

  &:disabled {
    color: #ffffff;
    opacity: 0.8;
  }
}
